{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="grid-row grid-gap flex-align-center">
      <div class="grid-col-6">
        <h2 class="usa-hero__heading">De-risking Government Technology
        </h2>
        <p class="hero__intro">Guidance for delivering successful custom technology projects in government.</p>
        <a class="usa-button usa-button--secondary" href="{{site.baseurl}}/getting-started">Get started</a>
      </div>
      <div class="grid-col-6 hero-img__container">
        {% asset Mark.svg class="hero-img" alt=""%}
      </div>
    </div>
  </div>
</section>
