{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section">
  <div class="grid-container">
    <hr>
    <h2> Field Guides </h2>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset capitol-03-124.png class="usa-media-block__img" alt="" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">State Field Guide</h3>
          <p>40-page guide for executives, budget specialists, legislators, and other decision makers who fund or oversee state government technology projects.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset shield-02-124.png class="usa-media-block__img" alt="" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Federal Field Guide</h3>
          <p>80-page guide for federal executives, product owners, budget specialists and agency staff who fund or oversee federal government technology projects.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="usa-graphic-list usa-section usa-prose workshop-section ">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block ">
        {% asset workshop-01-124.png class="usa-media-block__img" alt="" %}
        <div class="usa-media-block__body">
          <h2 id="workshops">Workshops</h2>
          <p>18F can jump start your software development project with a 3-day workshop that is tailored to reduce project risk, meet your goals, and deliver results to your users. These workshops are designed to teach the basics of modern software development best practices, coach your team through a shared understanding of the problem and likely solution, and deliver actionable next steps, such as a draft solicitation that is ready for release.</p>

          <a class="usa-button usa-button--secondary" href="https://18f.gsa.gov/contact/">Contact us</a>


        </div>
      </div>
    </div>
  </div>
</section>
