{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset state-cap-124.png class="usa-media-block__img" alt="state capitol" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">State Field Guide</h3>
          <p>40-page guide for executives, budget specialists, legislators, and other decision makers who fund or oversee state government technology projects.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset fed-eagle-124.png class="usa-media-block__img" alt="eagle" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Federal Field Guide</h3>
          <p>80-page guide for federal executives, product owners, budget specialists and agency staff who fund or oversee state government technology projects.</p>
        </div>
      </div>
    </div>
  </div>
</section>
