{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="usa-section usa-section--dark usa-prose">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-4">
        {% asset pie-chart-circle-1.svg alt="Pie chart higlighting 13%" class="tagline__image"%}
      </div>

      <div class="grid-col-8">
        <h2 class="tagline__heading">Only <span class="tagline--highlight">13% </span> of Government IT projects&nbsp;succeed</h2>
        <div class="usa-prose">
          <p>Implementing custom software projects can be extraordinarily costly and risky in a government setting. Waterfall software development remains standard at all levels of government. Outdated budgeting and oversight processes have been designed around these very waterfall processes. Moving toward a user-centered, agile approach to this work will save millions of dollars in spending on bad software.</p>
        </div>
      </div>
    </div>
  </div>
</section>
