{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="usa-section usa-prose tagline">
  <div class="grid-container">
    <div class="grid-row flex-align-center">
      <div class="tablet:grid-col-4">
        {% asset pie-chart-medium-1.svg alt="Pie chart highlighting 13%" class="tagline__image"%}
      </div>

      <div class="tablet:grid-col-8">
        <h2 class="tagline__heading">Only <span class="tagline--highlight">13%<sup class="tagline--citation">*</sup> </span> of Government IT projects&nbsp;succeed</h2>
        <div class="usa-prose">
          <p>Implementing custom software projects can be extraordinarily costly and risky in a government setting. Waterfall software development remains standard at all levels of government. Outdated budgeting and oversight processes have been designed around these very waterfall processes. Moving toward a user-centered, agile approach to this work will save millions of dollars in spending on bad software.</p>

          <p class="tagline__caption">
            <span class="tagline--citation"> * </span> Projects valued at $6M or greater, in Europe and the United States, that were completed satisfactorily, on time, and within budget. From The Standish Group’s "<a href="https://www.standishgroup.com/sample_research_files/Haze4.pdf">Haze</a>," based on their CHAOS database.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
